.main-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  padding: 13px 20px;

  font-family: "Playfair Display";
  font-size: 16px;
  line-height: 16px;
  color: #000000;

  background-color: #ffffff;
}

.main-nav__logo {
  margin: 0;
}

.main-nav__button {
  width: 18px;
  height: 14px;

  font-size: 0;
  line-height: 0;

  border: none;
  background-image: linear-gradient(to bottom, #000000 0%, #000000 14%, #ffffff 14%, #ffffff 42%, #000000 42%, #000000 56%, #ffffff 56%, #ffffff 84%, #000000 84%, #000000 100%);
}

.main-nav__list {
  display: none;
}
